#rowTop
{
    background-color: rgb(34, 34, 34); 
    height: 170px;
}

#machinePhotho{
    
    display: block;
    margin-left: auto;
    margin-right: auto;

}
#rowMiddle
{
    background-color: rgb(34, 34, 34); 
    height: 75px;
}
#rowDown{
    background-color: rgb(34, 34, 34); 
    height: 100px;
}
#barraNoti{
    background-color: #343a40; 
    height: 100px;
}
#numberTop{
    font-size: 200%;
}
#borderMachine{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(34, 34, 34);
}
.card-header-red {
    background-color: #a20606;
    border-color: #a20606;
    color: white;
    font-weight: bold;
}