#rowTopOpenvpn
{
    background-color: rgb(8 9 10);
    height: 190px;
}
#openvpnPhotho{
        
    float:left;
    margin-left: 20px;
    margin-right: auto;
    
}

#openvpnTitle{
    
    float:left;
    
    margin-left: 80px;
    
}
#openvpnDescription {
    
    margin-left: 80px;
}