#userProfileRowTop
{
    background-color: rgb(3 35 69);
    height: 170px;
}

#userProfilePhoto{
    
    display: block;
    margin-left: auto;
    margin-right: auto;

}
#userProfilerowMiddle
{
    background-color: rgb(3 35 69);
    height: 75px;
}
#userProfilerowDown{
    background-color: rgb(3 35 69);
    height: 100px;
}
#userProfilebarraNoti{
    background-color: #343a40; 
    height: 100px;
}
#userProfilenumberTop{
    font-size: 200%;
}
#userProfileborderMachine{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(34, 34, 34);
}
#machineImages{
    width: 100%;
    max-height: 165px;
    object-fit: contain;
    padding: 10px
}

#prueba{
    height: 160px;
}

#maquinasCompletadas{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 0;
    margin-left: 0;
    background-color: #343a40;
    border: 1px solid #000;
}
