{%  extends 'accounts/main.html' %}

{% block content %}

	<div class="container-fluid p-4" id="rowTopHome">
		<div class="row align-items-start">
			<div class="col">
				<div class="row gy-5">
					<h1 class="display-5  text-light" id="openvpnTitle">Bienvenido a Hacker Machines</h1>
					
				</div>
				
				<div class="row gy-5">
					<p class="text-sm-start text-light" id="openvpnDescription"> Si es la primera vez que utilizas esta plataforma te recomendamos que veas este video tutorial de como conctarte a los retos.</p>
					</iframe>		
				</div>
			</div>
			
			
			<div class="col">
				<iframe width="300" height="300" src="https://www.youtube.com/embed/tgbNymZ7vqY">

			</div>
		</div>

	</div>

{% endblock content %}