{% load static %}


<!DOCTYPE html>
<html>
<head>

	<!-- Bootstrap Links -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
    <!-- CSS Main-->
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/maquinas.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/openvpn.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/userProfile.css' %}">

</head>
<body>
    <title>Hacker Machines</title>


    <nav class="py-2  navbar-dark bg-dark">
        <div class="container d-flex flex-wrap">
            <ul class="nav me-auto">
                
                <li><a href="{% url 'home' %}" class="nav-link px-2 text-white">Home</a></li>
                
                <li><a href="{% url 'maquinas' %}" class="nav-link px-2 text-white">Maquinas</a></li>
                <li><a href="{% url 'openvpn' %}" class="nav-link px-2 text-white">Open VPN</a></li>
                <li><a href="{% url 'ranking' %}" class="nav-link px-2 text-white">Ranking</a></li>
            </ul>
          <ul class="nav">
            {% if user.is_authenticated %}
                <div class="dropdown text-end">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{request.user.alumno.profile_image.url}}" alt="mdo" width="45" height="45" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" href="{% url 'userProfile' request.user.pk %}">Perfil</a></li>
                    <li><a class="dropdown-item" href="{% url 'profile' %}">Ajustes</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Salir</a></li>
                    </ul>
                </div>
            {% else %}
                <div class="text-end">
                        
                    <a class="btn btn-outline-light me-2" href="{% url 'login' %}" role="button">Login</a>
                    <a class="btn btn-warning" href="{% url 'register' %}" role="button">Registrarse</a>
                    
                </div>
            {% endif %}
          </ul>
        </div>
      </nav>


	{% comment %} Esto es para los mensajes que salen de warnings {% endcomment %}

	{% comment %} <main role="main" class="container">
		<div class="row">
			<div class="col"> {% endcomment %}
				{% comment %} {% if messages %}
				{% for message in messages %}
					<div class="alert alert-{{ message.tags }}">
					{{ message }}
					</div>
				{% endfor %}
				{% endif %} {% endcomment %}
				{% block content %}
				
				
				{% endblock %}
		  	{% comment %} </div>
		  
		</div>
	</main> {% endcomment %}
	
    {% comment %} <main role="main" class="container">
		<div class="row">
			<div class="col">

            </div>
		  
		</div>
	</main> {% endcomment %}
	
</body>

    

</html>