{%  extends 'accounts/main.html' %}
{% load static %}

{% block content %}

    {% if lista_maquinas %}

        <main role="main" class="container">
            <div class="row">
                <div class="col">
                    <br>                
                    <div class="row">
                        <div class="col-md">
                            <br/>
                            <table class="table align-middle mb-0 bg-white">
                                <thead class="bg-light">
                                    <tr>
                                        <th>Máquina</th>
                                        <th>Categoría</th>
                                        
                                        <th>Dirección IP</th>
                                        <th>Estado</th>
                                        
                                    </tr>
                                </thread>
                                <tbody>
                                    
                                        {% for i in lista_maquinas %}

                                            <tr>
                                                <td>
                                                <div class="d-flex align-items-center">
                                                    <img src="{{i.image_machine.url}}" alt="" style="width: 45px; height: 45px" class="rounded-circle"/>
                                                    <div class="ms-3">
                                                    <a href="{% url 'maquinas' i.nombre_maquina %}" class="fw-normal mb-1" style="margin-left:5px" > {{i.nombre_maquina}} </a>
                                                    </div>
                                                </div>
                                                </td>
                                                <td>
                                                <p class="fw-normal mb-1">{{i.categoria}}</p>
                                                
                                                </td>
                                                
                                                <td>{{i.ip}}</td>
                                                
                                                <td>
                                                    <span class="badge badge-success rounded-pill d-inline">Activa</span>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                            </table>
                        </div>
                    </div>
                            
                </div>
            </div>
                
        </main>

    {% else %}

        {% comment %} <tr>
            <a> Esto es una mierda para probar que se puede acceder a una sola máquina :)</a>
            <td><a href="#"> {{maquina_individual.nombre_maquina}}</a></td>
            <td>{{maquina_individual.estado}}</td>
            
        </tr> {% endcomment %}
        {% comment %} <div style="background-color: rgb(34, 34, 34); height: 200px;">
            <div class="d-flex align-items-center text-center pt-4 pb-4">
                <div class="profile-block">
                <img id="profile-picture" src="https://tryhackme-images.s3.amazonaws.com/user-avatars/9a7a0c99fd25fd05fd2bb19f7b59fa26.png">
                </div>
                </div>
        </div>     {% endcomment %}

        <div class="container-fluid p-4" id="barraArriba">
            <img src="{{maquina_individual.image_machine.url}}"  height=150px width=150px class="rounded-circle" id="machinePhotho"/>

        </div>
        <div class="container-fluid" id="barraMedio">
            <div class="container-fluid" id="barraNoti">
                <div class="row text-center">
                    <div class="col p-3  text-white text-center" id="barraNoti">
                        
                        <div class="size-30 bold" id="numberTop">46</div>
                        <div class="size-16 faded">Rooms Complete</div>

                    </div>
                    <div class="col p-3  text-white text-center" id="barraNoti">
                        
                        <div class="size-30 bold" id="numberTop">46</div>
                        <div class="size-16 faded">Rooms Complete</div>

                    </div>
                    <div class="col p-3  text-white text-center" id="barraNoti">
                        
                        <div class="size-30 bold" id="numberTop">46</div>
                        <div class="size-16 faded">Rooms Complete</div>

                    </div>
                  </div>
            </div>
        </div>
        {% if maquina_individual not in request.user.alumno.accesed_machines %}
        
            {% comment %} <button class="btn btn-primary" href="{% url 'access_to_machine' maquina_individual.nombre_maquina %}">Acceder a la maquina</button> {% endcomment %}
            <button><a class="btn btn-primary" href="{% url 'access_to_machine' maquina_individual %}">Acceder a la maquina</a></button>
            <p> holita puttttas </p>
        {% elif maquina_individual in request.user.alumno.accesed_machines %}
            <p> Estas dentro wey </p>
        {% endif %}

        <p> {{request.user.alumno.accesed_machines}} </p>
        {% endif %} 
                        
                   


{% endblock content %}