{%  extends 'accounts/main.html' %}
{% load static %}

{% block content %}

    

    {% if lista_maquinas %}
    <div class="container-fluid p-4" id="rowTopOpenvpn">
        <img src="/static/images/1106631.png"  height=130px width=130px class="rounded-circle" id="openvpnPhotho"/>
        
        <div class="row gy-4 me-5">
            <h1 class="display-5  text-light" id="openvpnTitle">Laboratorio Virtual</h1>
            <p class="text-sm-start text-light" id="openvpnDescription">Aquí tienes la lista de nuestras máquinas preparadas para que los hackers como tú rompan su seguridad, eso si puedes conseguirlo 😏 </p>
        </div>
        
    </div>
    <br> 
        
        
        <main role="main" class="container" >

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                    </div>
                {% endfor %}
			{% endif %}
            
            <div class="row">
                <div class="col">
                                   
                    <div class="row">
                        <div class="col-md">
                            <br/>
                            <table class="table align-middle mb-0 bg-white">
                                <thead class="bg-light">
                                    <tr>
                                        <th>Máquina</th>
                                        <th>Categoría</th>
                                        <th>Dificultad</th>
                                        <th>Fecha Creada</th>
                                        {% comment %} <th>Dirección IP</th> {% endcomment %}
                                        <th></th>
                                        
                                        
                                    </tr>
                                </thread>
                                <tbody>
                                    
                                        {% for i in lista_maquinas %}

                                            <tr>
                                                <td>
                                                <div class="d-flex align-items-center">
                                                    <img src="{{i.image_machine.url}}" alt="" style="width: 45px; height: 45px; object-fit: cover;" class="rounded-circle"/>
                                                    <div class="ms-3">
                                                    <a href="{% url 'maquinas' i.nombre_maquina %}" class="link-primary fw-normal mb-1" style="margin-left:5px" > {{i.nombre_maquina}} </a>
                                                    </div>
                                                </div>
                                                </td>
                                                <td>
                                                <p class="fw-normal mb-1">{{i.categoria.nombre}}</p> 
                                                
                                                </td>
                                                <td>{{i.dificultad}}</td>
                                                <td>{{i.dia_creada|date}}</td>

                                                {% if request.user.is_staff%}
                                                    <td class="text-center">
                                                        <a href="{% url 'editMachine' i.nombre_maquina %}" class="btn btn-success btn-sm"> <i class="bi bi-pencil"></i> Editar </a>
                                                        <a href="{% url 'deleteMachine' i.nombre_maquina %}" class="btn btn-danger btn-sm" style="margin-left:10px" ><i class="bi bi-eraser"></i> Borrar </a>
                                                    </td>
                                                {% endif %}
                                                
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                            </table>
                        </div>
                    </div>
                            
                </div>
            </div>
            <br>
        {% if request.user.is_staff%}
            <a class="btn btn-primary ms-3" href="{% url 'addMachine'%}" role="button"><i class="bi bi-plus-circle"></i> Añadir Máquina</a>
            {% comment %} <a class="btn btn-primary ms-3" href="{% url 'categories'%}" role="button">Modificar Categorías</a> {% endcomment %}
        {% endif %}
                
        </main>


       

     {% else %}  {% comment %} Esto se muestra si estas en maquinas/UNAMAQUINA {% endcomment %}

        <div class="container-fluid p-4" id="rowTop">
            <img src="{{maquina_individual.image_machine.url}}"  height=150px width=150px class="rounded-circle" id="machinePhotho"/>

        </div>
        <div class="container-fluid p-4" id="rowMiddle">
            <p class="h1 text-center text-white" > {{maquina_individual.nombre_maquina|upper}} </p>
        </div>
        <div class="container-fluid" id="rowDown">
            <div class="container-fluid border-top-0" id="barraNoti">
                <div class="row text-center">
                    <div class="col p-3  text-white text-center" id="barraNoti">
                        
                        <div class="size-30 bold" id="numberTop">{{usersInside}}</div>
                        <div class="size-16 faded">Usuarios han accedido</div>

                    </div>
                    <div class="col p-3  text-white text-center" id="barraNoti">
                        
                        <div class="size-30 bold" id="numberTop">{{usersUserFlag}}</div>
                        <div class="size-16 faded">User Flags totales</div>

                    </div>
                    <div class="col p-3  text-white text-center" id="barraNoti">
                        
                        <div class="size-30 bold" id="numberTop">{{usersRootFlag}}</div>
                        <div class="size-16 faded">Root Flags totales</div>

                    </div>
                  </div>
            </div>
        </div>
        {% if maquina_individual not in request.user.alumno.accesed_machines %} {% comment %} Esto se muestra si NO has entrado en la máquina  {% endcomment %}

            <br/>
            <div class="container" >
                <div class="card">                
                    <div class="card-body">
                        <h5 class="card-title">Descripción</h5>
                        <p class="card-text">{{maquina_individual.descripcion}}</p>
                        <a href="{% url 'access_to_machine' maquina_individual.nombre_maquina %}" class="btn btn-primary">Acceder a la maquina</a>
                    </div>
                </div>
            </div>

        {% elif maquina_individual in request.user.alumno.accesed_machines %} {% comment %} Esto se muestra SI ya has entrado en la máquina  {% endcomment %}

            <br/>
            
            <div class="container" >

                {% comment %} Mostramos los mensajes de alerta {% endcomment %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                        </div>
                    {% endfor %}
				{% endif %}

                <div class="card">
                    <div class="card-header">
                      Dirección IP del reto
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="card-title text-end">DIRECCIÓN IP</h5>
                            </div>
                            <div class="col-md-6">
                                <p class="text-center-bold text-info ">{{maquina_individual.ip}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                </br>
                

                <div class="card">
                    <div class="card-header text-center">
                        Información de la maquina
                    </div>                
                    <div class="card-body">

                        {% if individualCompleted %}
                                
                                
                                {% if acceso.days_to_finish%}
                                    
                                    <p class="card-text text-success text-center fs-4">Tiempo en completar el reto: {{acceso.days_to_finish}} días, {{acceso.hours_to_finish}} horas y {{acceso.minutes_to_finish}} minutos ⏱️​</p>
                                {% elif acceso.hours_to_finish %}  
                                    <p class="card-text text-success text-center fs-4">Tiempo en completar el reto: {{acceso.hours_to_finish}} horas y {{acceso.minutes_to_finish}} minutos ⏱️​</p>
                                {% elif acceso.minutes_to_finish %}  
                                    <p class="card-text text-success text-center fs-4"> Tiempo en completar el reto: {{acceso.minutes_to_finish}} minutos ⏱️​​</p>
                                
                                {% endif %}
                                <hr>
                            {% endif %}
                        
                        <form action="" method="POST">
                            {% csrf_token %}
                            <h5 class="card-title">¿Cómo acceder a la máquina?</h5> 
                            <p class="card-text">Para poder acceder a la máquina descargate el archivo de <a href="{% url 'openvpn' %}" class="text-decoration-none">OpenVPN</a> para poder acceder al entorno virtual.</p>
                            
                            <hr>
                        
                            <h5 class="card-title">Descripción</h5> 
                            <p class="card-text">{{maquina_individual.descripcion}}</p>

                            <hr>

                            <h5 class="card-title">Flags</h5> 
                            
                            <p class="card-text">La encontrarás al obtener privilegios de usuario en la máquina.</p>
                            {% if individualUserFlag is False %}    {% comment %}  Comprobamos si el usuario ha averiguado ya la flag {% endcomment %}
                                <div class="input-group mb-4">
                                    <input type="text" name="flagUserInput" class="form-control" placeholder="User Flag" >
                                    
                                    <button class="btn btn-outline-success" type="submit"  style="width:20%;">  Comprobar  </button>
                                    
                                </div>
                            {% else %}
                                <div class="input-group mb-4">
                                    <input type="text" name="flagRootInput" class="form-control" placeholder="Respuesta Correcta" disabled>                                    
                                    <button class="btn btn-outline-success" type="submit"  style="width:20%; background-color:#28a745; color: #fff;" disabled>  Completado  </button>

                                    
                                </div>
                                
                            {% endif %}
                            
                            <p class="card-text">La encontrarás al obtener privilegios de Super Usuario en la máquina.</p>
                            {% if individualRootFlag is False %} {% comment %}  Comprobamos si el usuario ha averiguado ya la flag {% endcomment %}
                                <div class="input-group mb-4">
                                    <input type="text" name="flagRootInput" class="form-control" placeholder="Root Flag" >
                                    
                                    <button class="btn btn-outline-success" type="submit"  style="width:20%;">  Comprobar  </button>
                                    
                                </div>
                            {% else %}
                                <div class="input-group mb-4">
                                    <input type="text" name="flagRootInput" class="form-control" placeholder="Respuesta Correcta" disabled>                                    
                                    <button class="btn btn-outline-success" type="submit"  style="width:20%; background-color:#28a745; color: #fff;" disabled>  Completado  </button>

                                    
                                </div>
                                
                            {% endif %}

                            
                                
                        </form>
                    </div>
                </div>
                <br/>

                <div class="card">
                    <div class="card-header">
                      ¿Tienes problemas con la máquina?
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <h5 class="card-title">Reiniciar el reto</h5> 
                            <p class="card-text">Si la máquina no funciona prueba a reinciarla pulsando el siguiente botón, después espera unos minutos a que se termine de iniciar</p>
                        </div>
                        <br/>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="input" name="restart">
                                <button type="submit" class="btn btn-danger" name="restart" >Reiniciar Reto</button>
                            </div>
                        </form>
                    </div>
                    
                </div>
                <br/>
            </div>

        {% endif %}
        {% comment %} <p> {{request.user.alumno.accesed_machines}} </p> {% endcomment %}
        {% endif %} 
                        
                   


{% endblock content %}
