{%  extends 'accounts/main.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container-sm px-1 mt-4">
        <div class="row">
            <div class="col-xl-4">
                <div class="card mb-4 mb-xl-0">
                    <div class="card-header">Foto de Perfil</div>
                    
                    <div class="card-body text-center">
                        {% comment %} {% if request.user.alumno.profile_image.url != NULL %} {% endcomment %}

                        <img class="rounded-circle account-img" width="150px" src="{{request.user.alumno.profile_image.url}}">
                        
                        {% comment %} {% else %}
    
                            <img class="rounded-circle account-img" width="150px" src="foto_perfil.png">
                        
                        {% endif %}   {% endcomment %}
                        
                        <h5 class="card-title"> {{request.user.username}}</h5>
                        
                        <div class="small font-italic text-muted mb-3">
                            <span class="text-black-50"> {{request.user.email}}</span> 
                        </div>
                        <a href="#" class="card-link mr-3">Cambiar Contraseña FALTA CREARLO</a>
                        
                        
                    </div>
                </div>
            </div>           

            <div class="col-xl-8">
                <div class="card mb-4">
                    <div class="card-header">Detalles de la cuenta</div>
                    <div class="card-body">
                        <form method="POST" action="" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{alumno_form | crispy}}
                            {{user_form | crispy}}
                
                            <!-- Save changes button-->
                            <button class="btn btn-primary" type="submit">Guardar Cambios</button>
                            <br><br>
                            
                            
                        </form>
                    </div>
                </div>
            </div>

            
            
        </div>
    </div>
    
{% endblock content %}