{%  extends 'accounts/main.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    {% if listaUsuariosOrdenada %}
        <div class="container-fluid p-4" id="rowTopOpenvpn">
            <img src="/static/images/919392.png"  height=130px width=130px  id="openvpnPhotho"/>
            
            <div class="row gy-4 me-5">
                <h1 class="display-5  text-light" id="openvpnTitle">Ranking de Usuarios</h1>
                <p class="text-sm-start text-light" id="openvpnDescription">Este es el ranking de los mejores 🥇 ( y peores 🙈) usuarios de la plataforma <br> 
                    Resuelve máquinas y consigue más puntos para estar destacado en el top </p>
            </div>
            
        </div>
        
        <br> 
        

        <div class="container">

            
                <form method="get">
                    
                    <div class="row justify-content-evenly">
                        
                        <div class="col ms-2">
                            {{myFilter.form | crispy}}
                        </div>
                        <div class="col-2">
                            <button class="btn btn-primary" type="submit" style="margin-top:31px"><i class="bi bi-search"></i> Buscar</button>
                        </div>
                    
                </form>  
        </div> 
                            
            <table class="table table-striped">
                <thead >
                    <tr>
                        <th class="ps-5">Usuario</th>
                        <th>Puntos</th>
                        <th>Posición</th>
                        
                    </tr>
                </thread>
                <tbody>
                    
                    {% for i in page_obj %}

                        <tr>
                            
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="{{i.alumno.profile_image.url}}" alt="" style="width: 45px; height: 45px " id="machineImages" class="rounded-circle margin-auto"/>
                                    <div class="ms-3">
                                    <a href="{% url 'userProfile' i.pk %}" class="fw-normal mb-1" style="margin-left:5px" > {{i.username}}</a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p class="fw-normal mb-1">
                                    {{i.alumno.points}}
                                </p>
                                
                            </td>
                            <td>
                                <a> {{i.alumno.position}} </a>
                            
                            </td>
                            
                        </tr>
                    {% endfor %}


                </tbody>
            </table>
                        
        </div>
        <br>
        <div class="d-flex justify-content-center">

            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class"page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                    </li>

                {% else %}
                    <li class"page-item disabled">
                        <a class="page-link" href="#">&laquo;</a>
                    </li>
                {% endif %}

                {% for i in paginator.page_range %}
                
                    {% if i == page_obj.number %}
                        <li class="page-item active">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}

                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">&raquo;</a>
                    </li>
                {% endif %}
                

                
            </ul>

        </div>

    {% endif %}
{% endblock %}