{%  extends 'accounts/main.html' %}
{% load static %}

{% block content %}

    {% if listaUsuariosOrdenada %}
    <br> 
        <main role="main" class="container">
            <div class="row">
                <div class="col">
                                   
                    <div class="row">
                        <div class="col-md">
                            <br/>
                            <table class="table align-middle mb-0 bg-white">
                                <thead class="bg-light">
                                    <tr>
                                        <th>Usuario</th>
                                        <th>Puntos</th>
                                        
                                        <th>Dirección IP</th>
                                        <th>Estado</th>
                                        
                                    </tr>
                                </thread>
                                <tbody>
                                    
                                    {% for i in listaUsuariosOrdenada %}

                                        <tr>
                                            <td>
                                            <div class="d-flex align-items-center">
                                                <img src="{{i.alumno.profile_image.url}}" alt="" style="width: 45px; height: 45px" class="rounded-circle"/>
                                                <div class="ms-3">
                                                <a href="{% url 'userProfile' i.pk %}" class="fw-normal mb-1" style="margin-left:5px" > {{i.username}}</a>
                                                </div>
                                            </div>
                                            </td>
                                            <td>
                                            <p class="fw-normal mb-1"></p>
                                            
                                            </td>
                                            
                                            <td></td>
                                            
                                            <td>
                                                <span class="badge bg-info text-dark">1</span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                            
                </div>
            </div>
                
        </main>
    {% endif %}
{% endblock %}