{% load static %}
<html>
<head>
  <title>Registrarse</title>

</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'registrarse.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<body>
  <div class="login-form">
    <form method="POST" action="">
      {% csrf_token %} 
      
        <h2 class="text-center">Registrarse</h2>       
    

        <div class="form-control">
          {{form.username}}
        </div>
        <div class="form-control">
          {{form.email}}
        </div>
        <div class="form-control">
          {{form.password1}}
        </div>
        <div class="form-control">
          {{form.password2}}
        </div> 

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </div>
           
    </form>
    <p class="text-center"><a href="{%url 'login' %}">¿Ya tienes cuenta?</a></p>
</div>
</body>
</html>





