{% load static %}
{% load crispy_forms_tags %}
<html>
<head>
  <title>Registrarse</title>

</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'css/registrarse.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<body>

  <main role="main" class="container">
		<div class="row">
			<div class="col">
				{% if messages %}
				{% for message in messages %}
					<div class="alert alert-{{ message.tags }}">
					{{ message }}
					</div>
				{% endfor %}
				{% endif %}
				<div class="login-form">
          <form method="POST" action="">
            {% csrf_token %} 
            
              <h2 class="text-center">Registrarse</h2>       
                {{form | crispy}}
      
              <div class="form-group">
                  <br>
                  <button type="submit" class="btn btn-primary btn-block">Continuar</button>
              </div>
                 
          </form>
          <p class="text-center"><a href="{%url 'login' %}">¿Ya tienes cuenta?</a></p>
      </div>
		  	</div>
		  
		</div>
	</main>
  
  
    

</body>
</html>





