{% load static %}
<html>
<head>
  <title>Registrarse</title>
  

  
  <link rel="stylesheet" type="text/css" href="{% static 'registrarse.css' %}">

</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<body>
  <form method="POST" action="">
    {% csrf_token %}
    <div class="form">
        <div class="title">Registrarse</div>
        <div class="subtitle">Completa todos los campos</div>

        <div class="input-container ic1">
          <input id="lastname" class="input" type="text" placeholder=" " {{form.username}}
          <div class="cut"></div>
          <label for="firstname" class="placeholder">Nombre de Usuario</label>
        </div>

        <div class="input-container ic2">
          <input id="lastname" class="input" type="text" placeholder=" " {{form.email}} 
          <div class="cut cut-short"></div>
          <label for="email" class="placeholder">Email</label>
        </div>

        <div class="input-container ic2">
          <input id="lastname" class="input" type="text" placeholder=" " {{form.password1}}
          <div class="cut"></div>
          <label for="lastname" class="placeholder">Contraseña</label>
        </div>

        <div class="input-container ic2">
          <input id="lastname" class="input" type="text" placeholder=" " {{form.password2}}
          <div class="cut"></div>
          <label for="lastname" class="placeholder">Repita la contraseña</label>
        </div>
        
        <button type="submit" class="submit">Continuar</button>
      </div>
  <form>
</div>
</body>
</html>





