{%  extends 'accounts/main.html' %}
{% load static %}

{% block content %}


    <div class="container-fluid p-4" id="userProfileRowTop">
        <img src="{{user.alumno.profile_image.url}}"  height=150px width=150px class="rounded-circle" id="userProfilePhoto"/>

    </div>
    <div class="container-fluid p-4" id="userProfilerowMiddle">
        <p class="h1 text-center text-white" > {{user.username|upper}} </p>
    </div>
    <div class="container-fluid" id="userProfilerowDown">
        <div class="container-fluid border-top-0" id="userProfilebarraNoti">
            <div class="row text-center">
                <div class="col p-3  text-white text-center" id="barraNoti">
                    
                    <div class="size-30 bold" id="userProfilenumberTop">{{countMachinesInside}}</div>
                    <div class="size-16 faded">Maquinas accedidas</div>

                </div>
                <div class="col p-3  text-white text-center" id="barraNoti">
                    
                    <div class="size-30 bold" id="userProfilenumberTop">{{countCompletedRooms}}</div>
                    <div class="size-16 faded">Maquinas completadas</div>

                </div>
                <div class="col p-3  text-white text-center" id="barraNoti">
                    
                    <div class="size-30 bold" id="userProfilenumberTop">º1</div>
                    <div class="size-16 faded">Posicion</div>

                </div>
                <div class="col p-3  text-white text-center" id="barraNoti">
                    
                    <div class="size-30 bold" id="userProfilenumberTop">{{points}}</div>
                    <div class="size-16 faded">Puntos totales</div>

                </div>
            </div>
        </div>
    </div>
    
    <br/>
    <div class="container" >
        <div class="row row-cols-1 row-cols-md-2 g-4">

            {% for accessed in machinesCompleted %}
                <div class="col mb-4">
                    <div class="card">
                        {% comment %} <img src="{{accessed.maquina.}}" class="card-img-top" alt="..."> {% endcomment %}
                        <div class="card-body">
                            <h5 class="card-title">{{accessed.nombre_maquina}}</h5>
                            {% comment %} <p class="card-text">{{machine.description}}</p>
                            <a href="{{machine.get_absolute_url}}" class="btn btn-primary">Ver</a> {% endcomment %}
                        </div>
                    </div>
                </div>
            {% endfor %}

            <div class="col">
                <div class="card">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                </div>
              </div>
            
        </div>
    </div>

    

{% endblock content %}